
body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
}

.title{
    display: flex;
    place-content: center;
}

span{
    margin-left:7px;
}

h1{
    font-size: 1.5rem;
    margin-top: 30px;
}

input{
    margin-bottom: 10px;
}
.passwordStrength {
    font-weight: bold;
    margin-bottom: 10px;
}

.passwordStrength.weak {
    color: #C1292E; 
}

.passwordStrength.medium {
    color: orange;
}

.passwordStrength.strong {
    color: #53DD6C; 
}
