@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.search--bar{
  display: flex;
  justify-content: space-between;
}

.Search--input, .navigation{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input--bar{
  width: 1200px;
}

.layout{
  width: 100%;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.main--weather--div{
  display: flex;
}

.curr-location{
  display: flex;
}

.curr-location img{
  width: 30px;
  filter: brightness(0) invert(1);
}


.location--div{
  width: 500px;
  background-color: blueviolet;
  color: #fff;
}

.parameters--div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.params{
  display: flex;
  gap: 10px;
}